.hidden {
    display: none;
}

nav {
    background-color: #cecece85;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: #910000;
    font-weight: bold;
}
.fas.fa-bars {
    cursor: pointer;
    font-size: 30px;
    color: #070707;
    transition: color 0.3s ease-in-out;
    &:hover {
        color: #910000;
    }
}
