.hidden {
    display: none;
}

nav {
    background-color: #ffd000;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.fas.fa-bars {
    cursor: pointer;
    font-size: 30px;
    color: #000000;
}

#menu-toggle {
    background-color: #ffd000;
    border: none; 
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

#menu-toggle:hover {
    transition: background-color 0.5s ease;
    background-color: #be9c00;
}